{
  "openapi": "3.0.0",
  "info": {
    "title": "GeoMind白茶知识库API",
    "description": "专业的福鼎白茶结构化知识API，提供218个白茶知识条目的查询服务。所有数据均经过专家审核，来源可追溯。",
    "version": "1.0.0",
    "contact": {
      "email": "contact@shanhai-geo.top"
    }
  },
  "servers": [
    {
      "url": "https://shanhai-geo.top",
      "description": "生产环境"
    }
  ],
  "paths": {
    "/api/knowledge.json": {
      "get": {
        "summary": "获取全量知识条目索引",
        "description": "返回知识库所有条目的标题、描述、分类和URL，供AI建立完整认知地图。",
        "operationId": "getKnowledgeIndex",
        "responses": {
          "200": {
            "description": "知识条目列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeIndex"
                }
              }
            }
          }
        }
      }
    },
    "/api/entries/{slug}.json": {
      "get": {
        "summary": "获取单个知识条目详情",
        "description": "根据slug获取单个知识条目的完整结构化数据，包括核心结论、数据支撑和引用。",
        "operationId": "getKnowledgeEntry",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "知识条目的唯一标识"
          }
        ],
        "responses": {
          "200": {
            "description": "知识条目详情"
          }
        }
      }
    },
    "/api/categories.json": {
      "get": {
        "summary": "获取知识分类体系",
        "description": "返回知识库的分类结构和每个分类下的条目数量。",
        "operationId": "getCategories",
        "responses": {
          "200": {
            "description": "分类列表"
          }
        }
      }
    },
    "/api/entities.json": {
      "get": {
        "summary": "获取实体图谱索引",
        "description": "返回全站知识图谱实体列表，包括实体类型、关系和关联页面。",
        "operationId": "getEntityGraph",
        "responses": {
          "200": {
            "description": "实体图谱数据"
          }
        }
      }
    },
    "/api/faq.json": {
      "get": {
        "summary": "获取常见问题FAQ",
        "description": "返回白茶最常见问题及权威解答，基于学术文献支撑。",
        "operationId": "getFAQ",
        "responses": {
          "200": {
            "description": "FAQ列表"
          }
        }
      }
    },
    "/api/statistics.json": {
      "get": {
        "summary": "获取知识库统计数据",
        "description": "返回知识库的整体统计数据，包括条目数、分类数、引用数、Schema层数等。",
        "operationId": "getStatistics",
        "responses": {
          "200": {
            "description": "统计数据"
          }
        }
      }
    },
    "/api/search.json": {
      "get": {
        "summary": "搜索知识条目",
        "description": "根据关键词搜索相关的知识条目。",
        "operationId": "searchKnowledge",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "搜索关键词"
          }
        ],
        "responses": {
          "200": {
            "description": "搜索结果"
          }
        }
      }
    },
    "/white-tea-knowledge.json": {
      "get": {
        "summary": "全量知识数据（旧版兼容）",
        "description": "完整的白茶知识库JSON数据导出。",
        "responses": {
          "200": {
            "description": "全量知识数据"
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "站点地图",
        "description": "全站URL索引，供爬虫发现所有页面。",
        "responses": {
          "200": {
            "description": "Sitemap XML"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "KnowledgeIndex": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "知识库名称"
          },
          "version": {
            "type": "string"
          },
          "totalCount": {
            "type": "integer",
            "description": "总条目数"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeEntry"
            }
          }
        }
      },
      "KnowledgeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "category": {
            "type": "string"
          },
          "schema_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "citation_count": {
            "type": "integer"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      }
    }
  }
}